@font-face {
  font-family: "PT Sans Narrow";
  src: url('fonts/ptsansnarrow.woff2') format('woff2'),
       url('fonts/ptsansnarrow.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url('fonts/ptsansnarrowbold.woff2') format('woff2'),
       url('fonts/ptsansnarrowbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Rub';
  src: url('fonts/ptsansnarrowboldrub.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/*html { box-sizing: border-box; }
*, *::before, *::after {box-sizing: inherit;}*/

input[type=text], input[type=password] {
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: 960px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #F7F4F1;
  text-transform: uppercase;

  background-color: #070707;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  text-transform: uppercase;

  background: #F7F4F1;
  background-image: url("../img/white.jpg");
  background-repeat: repeat;
}

main.container {
  flex-grow: 1;
}

/*--- конец общих правил ---*/

/* --- HEADER ---- */
.main-header {
  margin-bottom: 70px;
}
.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inner-page .main-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 940px;
  margin: 0 auto;
}


.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 371px;
  height: 155px;
}
.inner-page .logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 111px;
  height: 24px;
  padding: 24px 20px;
}
.main-nav-wrapper {
  width: 100%;
  margin-bottom: 60px;

  color: #FFFFFF;
  background-color: #000000;
}
.inner-page .main-nav-wrapper {
  margin-bottom: 0;
  max-width: 789px;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-nav-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inner-page .main-nav-wrapper .container {
  width: auto;
  padding: 0;
}

.main-menu {
  width: 620px;
}
.user-menu {
  max-width: 160px;
}
.main-menu,
.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.inner-page .main-menu a,
.inner-page .user-menu a {
  min-height: 24px;
}

.main-menu a,
.user-menu a {
  display: block;
  padding: 24px 20px;
  color: #FFFFFF;
}
.user-menu .auth {
  position: relative;
  padding-left: 50px;
}
.user-menu .auth::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-menu .auth:hover::before,
.user-menu .auth:focus::before,
.user-menu .auth:active::before {
  opacity: 1;
}

.inner-page .logo:hover,
.inner-page .logo:focus,
.main-menu a:hover,
.main-menu a:focus,
.user-menu a:hover,
.user-menu a:focus {
  background-color: #242424;
  outline-color: #a25203;
}
.current {
  position: relative;
}
.current a[href] {
  pointer-events: none;
}
.current a:not([href]) {
  background-color: #000000;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 4px;
  background-color: #FFFFFF;
}

/* --- стили кнопок и инпута основного контента --- */

.button {
  display: inline-block;
  padding: 10px 0;
  min-width: 140px;

  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #F7F4F1;
  background-color: #070707;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button:hover,
.button:focus {
  background-color: #663d15;
  outline: none;
}
.button:disabled,
.button.disabled {
  cursor: default;
  background-color: #696969;
}

.container input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000101;
}
.container input:hover,
.container input:focus {
  border-color: #663d15;
  outline-color: #a25203;
}

/* --- MAIN --- */
.features {
  margin-bottom: 77px;
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-item {
  width: 300px;
  font-size: 14px;
  text-align: center;
}
.features-item h3 {
  position: relative;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 42px;
}
.features-item h3::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.features-item p{
  margin: 0;
  padding: 0;
}

.index-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
  padding: 46px 80px 50px;
  color: #070707;

  background-color: #F7F4F1;
  background-image:
    url(../img/hhr.png),
    url(../img/white.jpg);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}
.index-column h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.news,
.contacts,
.appointment {
  font-size: 14px;
  width: 380px;
}
.news-list {
  width: 380px;
  margin: 0px 0 28px;
  padding: 0;
  list-style: none;
}
.news-item {
  margin-bottom: 21px;
}
.news-item p {
  margin: 0;
}
.news-item time {
  text-transform: none;
}

.gallery,
.appointment {
  width: 300px;
}
.gallery-image {
  margin: 0 0 40px 0;
  padding: 7px;
  height: 164px;
  background-color: #FFFFFF;
}
.gallery-image img {
  width: 286px;
  height: 164px;
}
.gallery-conrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts p {
  margin: 0 0 20px;
}
.contacts .button {
  margin-right: 18px;
}

.appointment > p {
  margin: 0 0 10px;
}
.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.appointment-form p {
  margin: 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.appointment-form label {
  display: block;
  margin: 0 18px 6px;
}
.appointment-form input {
  font:inherit;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  width: 140px;
  height: 43px;
  padding: 10px 15px;
}
.appointment-form button {
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inner-page h1 {
  font-size: 30px;
  line-height: 42px;
  margin: 0 0 18px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 46px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.breadcrumbs li {
  position: relative; 
  margin-right: 42px;
  color: #ABA9A7;
}
.breadcrumbs li:last-child {
  pointer-events: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 5px;
  width: 7px;
  height: 7px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.breadcrumbs a {
  color: #000000;
}
.breadcrumbs a:focus {
  outline-color: #a25203;
}

.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-filter {
  width: 180px;
}
.filter-form fieldset {
  margin: 0 0 32px;
  padding: 0;
  border: none;
}
.filter-form fieldset:first-child {
  margin-bottom: 30px;
}
.filter-form legend {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.filter-form .button {
  min-width: 112px;
  font-size: 13px;
  line-height: 18px;
  height: 43px;
}
.filter-options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  padding-left: 43px;
  margin-bottom: 19px;
}

.filter-options label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}
.filter-input:not(:disabled):focus + label::before,
.filter-input:not(:disabled):hover + label::before {
  border-color: #663d15;
}
.filter-input[type="radio"]:not(:disabled) + label::before {
  border-radius: 50%;
  outline: none;
}
.filter-input[type="radio"]:not(:disabled):focus + label::before {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 1px #663d15;
          box-shadow: 0px 0px 1px 1px #663d15;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -39px;
  width: 12px;
  height: 12px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input[type="radio"] + label::after {
  top: 6px;
  left: -37px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}
.filter-input:disabled + label::before,
.filter-input:disabled + label {
  color: #000;
  opacity: 0.5;
  cursor: default;
}
.filter-input[type="radio"]:disabled + label::before,
.filter-input[type="radio"]:disabled + label {
  border-radius: 50%;
  opacity: 0.5;
  cursor: default;
}

.catalog {
  width: 700px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 7px 0 27px;
  padding: 0;
  list-style: none; 
}
.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.catalog-item:nth-child(3n){
  margin-right: 0;
}
.catalog-item:hover {
  -webkit-box-shadow: 0 0 15px rgba(102,61,21,0.7);
          box-shadow: 0 0 15px rgba(102,61,21,0.7);
}
.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}
.catalog-item a:focus {
  outline-color: #a25203;
}
.catalog-item h3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 16px;
  margin: 0 0 13px;

  font-size: 14px;
  line-height: 18px;
}
.catalog-item-image {
  margin: 0 0 13px;
  height: 165px;
  width: 220px;
}

.catalog-category {
  display: block;
  text-transform: none;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 15px;
}
.product-price b {
  padding: 11px;
  width: 109px;
  line-height: 20px;
  text-align: center;
  background-color: #E5E5E5;
}
.product-price b:after {
  content: "\0020\20BD";
  font-family: "PT Sans Narrow Rub";
}
.product-price .button {
  min-width: 78px;
  height: 43px;
}

.product-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-images {
  width: 460px;
}

.product-foto-big {
  margin: 0 0 21px;
  padding: 0;
  height: 498px;
  -webkit-box-shadow: 0 0 15px rgba(0,1,1,0.2);
          box-shadow: 0 0 15px rgba(0,1,1,0.2);
}
.product-foto-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-foto-preview img {
  width: 140px;
  height: 149px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(0,1,1,0.2);
          box-shadow: 0 0 15px rgba(0,1,1,0.2);
}

.product-info {
  width: 390px;
}
.product-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;

}
.product-spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px 0;
}
.product-spec p {
  max-width: 180px;
}
.product-info .article{
  color: #AEAEAE;
}
p.product-description {
  margin-bottom: 36px;
}
.product-info .product-price {
  margin-bottom: 60px;
}
.product-info b {
  width: 90px;
}
.product-info h3 {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 30px;
}
.product-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-info li {
  position: relative;
  padding-left: 21px;
  font-size: 14px;
}
.product-info li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}



.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-pagination li:not(:last-child) {
  margin-right: 7px;  
}

.catalog-pagination a {
  display: block;
  padding: 12px 18px 13px;
  color: #FFFFFF;
  line-height: 18px;
  background-color: #000000;
}
.catalog-pagination a:hover,
.catalog-pagination a:focus,
.catalog-pagination a:active {
  background-color: #663d15;
  outline: none;
}
.catalog-current-page a,
.catalog-current-page a:hover,
.catalog-current-page a:focus,
.catalog-current-page a:active {
  color: #000000;
  background-color: #FFFFFF;
}
.catalog-current-page a:not([href]) {
  pointer-events: none;
}


/* --- FOOTER --- */
.main-footer {
  margin-top: 65px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #232323;
  background-image: url("../img/footer-bg.jpg");
}

.inner-page .main-footer {
  margin-top: 50px;
}
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 58px 0 40px;
}

.footer-contacts,
.footer-copyright {
  margin: 0;
}
.footer-contacts {
  margin-right: 60px;
  width: 320px;
}
.footer-contacts a {
  color: #FFFFFF;
  text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.footer-contacts a:focus {
  outline: #a25203 solid 1px;
  outline-offset: 3px;
}

.footer-social,
.footer-copyright {
  text-align: center;
}
.footer-social {
  margin-right: 230px;
  min-width: 141px;
  max-width: 190px;
}
.footer-social a:focus {
  outline: none;
}
.footer-social b {
  display: block;
  margin-bottom: 13px;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li {
  margin-right: 6px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
  width: 43px;
  color: #FFFFFF;
  background-color: #070707;
}
.social-button:hover,
.social-button:focus {
  color: #070707;
  background-color: #F7F4F1;
}
.social-button:hover path,
.social-button:focus path {
  outline: none;
  fill: #000000;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-copyright .button {
  margin: 15px 0;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #070707;
  background-color: #F7F4F1;
}

/* --- внутренний контент для страниц заполняемых контент-менеджерами --- */
.inner-content {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 75px;
}
.inner-content .big-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.big-header::before,
.big-header::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 2px;
    min-width: 25px;
    background-color: #000000;
}
.big-header::before {
  margin-right: 25px;
}
.big-header::after {
  margin-left: 25px;
}

.inner-content h2 {
  margin: 65px 0 25px 0;
  font-size: 24px;
  line-height: 30px;
}
.inner-content h2 + h3 {
  margin-top: 35px;
}
.inner-content h3 {
  margin: 65px 0 35px 0;
  font-size: 20px;
  line-height: 24px;
}
.inner-content p {
  margin: 14px 0;
}

.inner-content .custom-list {
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
}
.custom-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
}
.custom-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.inner-content .custom-table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
.custom-table td {
  width: 50%;
  padding: 8px 17px;
  border: 1px solid #000000;
}
.custom-table td:last-child {
  text-align: center;
}

.inner-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.column-left,
.column-right {
  width: 460px;
}
.column-left *:first-child,
.column-right *:first-child {
  margin-top: 0;
}
.column-left *:last-child,
.column-right *:last-child {
  margin-bottom: 0;
}
.inner-columns > h2:first-child {
  margin-top: 0;
  width: 100%;
}
.inner-columns p.short-text {
  width: 400px;
}

/* --- Модальные окна --- */

/*оверлей для модальных окон*/
.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;

  background-color: rgba(36,36,36,0.7);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 120px;
  left: 50%;
  /*display: none;*/
  background-color: #F7F4F1;
  background-image:
    url(../img/white.jpg);
  background-repeat:  repeat;
  -webkit-box-shadow: 0 30px 50px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 30px 50px 0 rgba(0, 1, 1, 0.75);
}

.modal-auth {
  z-index: 3;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
}
.modal-auth-show {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-auth h2 {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-auth p {
  margin: 0 0 10px;
}
.modal-auth input[type="text"],
.modal-auth input[type="password"] {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 43px;
  padding: 10px 40px 15px 10px;
  font: inherit;
  text-transform: uppercase;
  border: 2px solid #000101;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 270px center;
}
.modal-auth input[type="text"] {
  background-image: url("../img/user.svg");
}
.modal-auth input[type="password"] {
  background-image: url("../img/lock.svg");
}

.modal-auth input[type="text"]:hover,
.modal-auth input[type="text"]:focus,
.modal-auth input[type="password"]:hover,
.modal-auth input[type="password"]:focus {
  border-color: #663D15;
  outline: none;
}
.auth-login,
.auth-pass {
  margin: 0 0 10px;
  padding: 0;  
}

.auth-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 17px;
  padding: 0;  
}
.auth-info label {
  position: relative;
  padding: 5px 5px 5px 35px;
  cursor: pointer;
}
.auth-info label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}
.auth-remeber:checked + label::before {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 2px;
}
.auth-info label:hover,
.auth-remeber:focus + label,
.auth-remeber:focus + label::before,
.auth-remeber:active + label::before {
  border-color: #663D15;
  color: #663D15;
}

.auth-restore {
  padding: 5px 0;
  color: #000000;
  text-decoration: underline;
}
.auth-restore:hover,
.auth-restore:focus {
  color: #663D15;
}

.modal-auth .button {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: -9px;
  right: -55px;
  width: 22px;
  height: 22px;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-close:focus,
.modal-close:active {
  outline-color: #663D15;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 6px;
  width: 28px;
  height: 4px;
  background-color: #D0D0D0;
}
.modal-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map {
  z-index: 2;
  top: 100px;
  margin-left: -390px;
  width: 780px;
  height: 574px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
input[type="text"].border-error,
input[type="password"].border-error {
  border-color: red;
}


/* --- анимация --- */

/* выпадающее окно авторизации*/
@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* ошибка валидации */
@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}
@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}




.modal-show {
  display: block;
}
.modal-hide {
  display: none;
}
.border0 {
  border: 0;
}

/*псевдораспорка. устанавливается в родительский блок*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*визуально скрытое, с поддержкой скринридеров*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position:absolute;

  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden;
}

/* --- вне шаблона :) ---*/
.button:hover .h-a,
.button:focus .h-a {
  display:none;
}
.button .avx {
  display:none;
  cursor: pointer;
}
.button:hover .avx,
.button:focus .avx {
  display: block;
}
.footer-copyright .button {
  animation:annoying 1s ease-in infinite alternate;
}
@keyframes annoying{
  from{
    border: 1px solid black;
  }
  to{
    border: 1px solid #666;
  }
}